<h1>Lista de bebidas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let drink of drinks" [ngClass]="{'clearance':drink.clearance}">
            <td><img [src]="drink.image" [alt]="drink.name" class="image-drink"></td>
            <td>{{drink.name}}</td>
            <td>{{drink.type}}</td>
            <td>{{drink.price | currency}}</td>
            <td><span class="badge text-bg-warning" *ngIf="drink.stock == 0">SIN STOCK</span></td>
        </tr>
    </tbody>
</table>
