.contenedor {
margin-left:35px;
}

.navbar{
    width:100%;
    margin-bottom:20px;
}
.navbar-brand {
    margin-left: 20px;
}
a {
    font-size:25px;
}

footer {
    margin-top: 10px;
    border:solid 1px black;
    height: 50px;
    background-color:black;
    color:white;
    text-align:center;
}
.image-logo {
    margin-left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}